/* spacificity: id-class-type (#-#-#) */
:root{
  --green: #6b904d;
  --brown: #7d6352;
}
* {  /*0-0-0*/
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Sofia Sans Condensed', sans-serif;
}
main h1{
  background-color: red;
}
/* 0-0-3
main > div > h1 {
  background-color: green;
} */
h1,h2 { /* 0-0-1 */
  font-family: 'Raleway', sans-serif;
  background-color: blue;
}

 /****Based on order!****/

section h1{ /* 0-0-1 */
  font-family: 'Sofia Sans Condensed', sans-serif;
  background-color: rebeccapurple;
}

blockquote { /*0-0-1*/
  font-weight: 100;
  margin: 20px;
}

.flex-center { /*0-1-0*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column { /*0-1-0*/
  flex-direction: column;
}

.flex-column h2 { /*0-1-0*/
  font-size: 30px;
  background-color: beige;
}

/* 0-0-3 */
main div h1 {
  background-color: var(--green);
}

/* 1-0-0 */
#burgerOpen {
  color: brown;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

/* 2-0-1 */
#header-id div #burgerOpen {
  font-size: 50px;
}

/* 2-0-0 */
#burger #burgerOpen {
  background-color: aqua;

}

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100px;
  background-color: beige;
  display: grid;
  grid-template-columns: 200px, 1fr 200px;
}

main {
  padding-top: 100px;
  padding-bottom: 80px;
}
.container {
  margin: 20px auto;
  display: flex ;
  flex-direction: column;
}
#logo {
  height: 100px;
  grid-column: 1;
}

nav {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul {
  display: flex;
  justify-content: space-arounds;
}

a{ 
  font-size: 20px;

}
a:link{
  text-decoration: none;
}
a:visited{
  color: var(--green);

}
a:focus, a:hover{
  color: #d75e6c;
  text-decoration: underline;
}
a:active{
 font-size: 30px;
}
 
@media (min-width: 701px){
  #burger{
    display: none;
  }
}
@media (max-width: 700px){
  nav {
    display: none;
  }
  #account{
    display: none;
  }
  #burger{
    display: flex;
    grid-column: 3;
    justify-content: center;
    align-items: center;
  }
  main {
    padding-bottom: 0px;
  }
  main > .container {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  footer {
    position: unset;
    /* display: none; */
  }
}
#account {
 /* position: absolute;
  top: 0px;
  right: 0px;
  height: 100px;
  width: 200px;
  background-color: aquamarine;*/
  background-color: bisque;
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  position: absolute;
  top: 40px;
  right: 80px;
}

li {
  display: inline;
  margin: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: beige;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#copyright {
  /* position: absolute;
  bottom: 35px;
  right: 35px; */
  margin: 20px auto;
}
